In [1]:
#Aqui vamos a hacer la importacion de los datasets

In [1]:
!pip install pyodbc pandas

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pyodbc-5.2.0-cp313-cp313-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

[notice] A new release of pip is available: 24.2 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
# Aqui vamos a ingresar los datos del dataframe de Restaurantes en MYSQL

In [13]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

# Leemos el csv
archivo_csv = 'C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/restaurants_Cleaned.csv'  
data1 = pd.read_csv(archivo_csv)


# Conexion a MySQL
usuario = 'root'
contrasenia = 'Orejas2004'
host = 'localhost'
puerto = '3306'
base_de_datos = 'base_no_relacional'

connection_string = f'mysql+mysqlconnector://{usuario}:{contrasenia}@{host}:{puerto}/{base_de_datos}'
engine = create_engine(connection_string)

In [14]:
# Aqui realizamos insertamos los datos
batch_size = 5000

try:
    with engine.begin() as connection:
        for start in range(0, len(data1), batch_size):
            batch = data1.iloc[start:start + batch_size]
            try:
                batch.to_sql('dosk_registros', con=connection, index=False, if_exists='append') 
                print(f"Lote {start // batch_size + 1} insertado exitosamente.")
            except Exception as e:
                print(f"Error al insertar el lote {start // batch_size + 1}: {e}")
                connection.rollback()
                break
except Exception as e:
    print("Error")
finally:
    engine.dispose()

Lote 1 insertado exitosamente.
Lote 2 insertado exitosamente.
Lote 3 insertado exitosamente.
Lote 4 insertado exitosamente.
Lote 5 insertado exitosamente.

In [17]:
#Ahora vamos a hacer exactamente lo mismo pero en SQL Server

In [6]:
# Configuración de la conexión a MySQL
usuario = 'root'
contrasenia = 'Orejas2004'
host = 'localhost'
puerto = '3306'
base_de_datos = 'Peliculas'

connection_string = f'mysql+mysqlconnector://{usuario}:{contrasenia}@{host}:{puerto}/{base_de_datos}'
engine = create_engine(connection_string)

In [10]:
# Cargamos los DataFrames
movies_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/Movies.csv")
people_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/People.csv")
production_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/Production.csv")

# Insertamos los datos en MySQL
with engine.begin() as connection:
    try:
        # tabla Movies
        movies_df.to_sql('Movies', con=connection, index=False, if_exists='append')
        # tabla People
        people_df.to_sql('People', con=connection, index=False, if_exists='append')
        # tabla Production
        production_df.to_sql('Production', con=connection, index=False, if_exists='append')

        print("DataFrames insertados.")
    except Exception as e:
        print(f"Error: {e}")

C:\Users\HP\AppData\Local\Temp\ipykernel_19504\1828354978.py:12: UserWarning: The provided table name 'Movies' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  movies_df.to_sql('Movies', con=connection, index=False, if_exists='append')
C:\Users\HP\AppData\Local\Temp\ipykernel_19504\1828354978.py:14: UserWarning: The provided table name 'People' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  people_df.to_sql('People', con=connection, index=False, if_exists='append')

DataFrames insertados.

C:\Users\HP\AppData\Local\Temp\ipykernel_19504\1828354978.py:16: UserWarning: The provided table name 'Production' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  production_df.to_sql('Production', con=connection, index=False, if_exists='append')

In [10]:
# Ahora procedemos a la importacion de los dataframes a el MongoDB

In [8]:
# Cargamos el CSV de Restaurantes
data1 = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/restaurants_Cleaned.csv")
data1.head()

,Category,ReviewerName,ReviewerAge,ReviewDate,ReviewID,ReviewText,RestaurantLocation,Rating,RestaurantCity
0,Breakfast,Orlando Sanford,65,2024-04-16 06:22:58.246000+00:00,decbc6be-339c-4425-85aa-d00f5e6e6f3f,JGYylwLXKQ,221 Kilback Extension,5.0,Fort Bernie
1,Lunch,Elijah Schuster,44,2024-04-18 22:28:39.518000+00:00,c73a1fdc-dcc0-4781-b3d2-2002722eda67,aAcFSNyaOO,93487 High Road,4.0,Burien
2,Dinner,Delia Wunsch,59,2024-09-12 08:43:37.669000+00:00,91c81bcd-8c27-46a9-bf9e-b0af3f07611a,IQAPnwDeXp,6785 Estella Path,1.0,Kylebury
3,Snacks,Marta Rowe,57,2025-01-22 05:37:20.088000+00:00,cd49dfbb-7e45-49b2-99b5-cb178f3c1714,Zi6xhJvRvs,720 The Limes,3.0,Novato
4,Drinks,Dave Johns,31,2024-05-31 09:14:26.716000+00:00,e4f14af7-acab-472a-839e-510ddfa0e1e7,Zg9hkf5bCd,11393 Beier Fords,5.0,Heaneystad

In [20]:
# Aqui realizamos la conexion al MongoDB
from pymongo import MongoClient, WriteConcern
import json
mongo_url = 'mongodb://localhost:27017'
try:
    client = MongoClient(mongo_url)
    db = client["proyecto"]
    print("Conexión exitosa")
except Exception as e:
    print("Error de conexión:")

Conexión exitosa a MongoDB

In [18]:
# Conversión de DataFrame a diccionario
data_dict = data1.to_dict(orient="records")

# tamaño de los lotes
batch_size = 5000
collection = db['restaurantes']

# Insertamos los datos
for i in range(0, len(data_dict), batch_size):
    batch = data_dict[i:i + batch_size]
    try:
        collection.insert_many(batch)
        print(f"Lote {i // batch_size + 1} insertado exitosamente.")
    except Exception as e:
        print("Error")

print("Proceso de inserción completado.")

Lote 1 insertado exitosamente.
Lote 2 insertado exitosamente.
Lote 3 insertado exitosamente.
Lote 4 insertado exitosamente.
Lote 5 insertado exitosamente.
Proceso de inserción completado.

In [12]:
#vamos a importar los datos a jhora al MongoDB

In [6]:
movies_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/Movies.csv")
people_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/People.csv")
production_df = pd.read_csv("C:/Users/HP/Desktop/archivos a analisar de analisis/Dataframe limpios/Production.csv")

In [24]:
# Convertir los DataFrames a diccionarios
movies_dict = movies_df.to_dict(orient='records')
people_dict = people_df.to_dict(orient='records')
production_dict = production_df.to_dict(orient='records')

In [11]:
# Conexion al MongoDB
client = MongoClient("mongodb+srv://example:12345@cluster0.cxjls.mongodb.net/")
db = client["Justin"]

In [ ]:
movies_collection = db["movies"]
people_collection = db["people"]
production_collection = db["production"]

movies_collection.insert_many(movies_dict)
people_collection.insert_many(people_dict)
production_collection.insert_many(production_dict)