In [26]:
# Restaurantes:
# primero vamos a crear datos locales y lo vamos a adjuntar con el dataset original:

import pandas as pd

# Cargar el CSV actual
ruta_csv = "C:/Users/HP/Desktop/archivos a analisar de analisis/RestaurantDatos.csv"
df = pd.read_csv(ruta_csv)

# cantidad de datos
print(f"Registros actuales: {len(df)}")
df.head()

Registros actuales: 10000

,category,reviewer_name,reviewer_age,review_date,review_id,review_text,restaurant_location,rating,restaurant_city
0,Breakfast,Orlando Sanford,65,2024-04-16T06:22:58.246Z,decbc6be-339c-4425-85aa-d00f5e6e6f3f,JGYylwLXKQ,221 Kilback Extension,5,Fort Bernie
1,Lunch,Elijah Schuster,44,2024-04-18T22:28:39.518Z,c73a1fdc-dcc0-4781-b3d2-2002722eda67,aAcFSNyaOO,93487 High Road,4,Burien
2,Dinner,Delia Wunsch,59,2024-09-12T08:43:37.669Z,91c81bcd-8c27-46a9-bf9e-b0af3f07611a,IQAPnwDeXp,6785 Estella Path,1,Kylebury
3,Snacks,Marta Rowe,57,2025-01-22T05:37:20.088Z,cd49dfbb-7e45-49b2-99b5-cb178f3c1714,Zi6xhJvRvs,720 The Limes,3,Novato
4,Drinks,Dave Johns,31,2024-05-31T09:14:26.716Z,e4f14af7-acab-472a-839e-510ddfa0e1e7,Zg9hkf5bCd,11393 Beier Fords,5,Heaneystad

In [27]:
import random
from faker import Faker

fake = Faker()
Faker.seed(42) 

# datos a agregar
nuevos_registros = 15000  

# lista de nuevos datos
datos_extra = []

for _ in range(nuevos_registros):
    datos_extra.append({
        "category": random.choice(df["category"].unique()),
        "reviewer_name": fake.name(), 
        "reviewer_age": random.randint(18, 80),
        "review_date": fake.date_between(start_date="-2y", end_date="today"), 
        "review_id": fake.uuid4(),
        "review_text": fake.sentence(nb_words=15),
        "restaurant_location": fake.address(), 
        "rating": round(random.uniform(1.0, 5.0), 1),
        "restaurant_city": fake.city()
    })

# Convertir a DataFrame
df_nuevo = pd.DataFrame(datos_extra)

# Combinar con el dataset original
df_final = pd.concat([df, df_nuevo], ignore_index=True)

print(f"Nueva cantidad de registros: {len(df_final)}")
df_final.head()

Nueva cantidad de registros: 25000

,category,reviewer_name,reviewer_age,review_date,review_id,review_text,restaurant_location,rating,restaurant_city
0,Breakfast,Orlando Sanford,65,2024-04-16T06:22:58.246Z,decbc6be-339c-4425-85aa-d00f5e6e6f3f,JGYylwLXKQ,221 Kilback Extension,5.0,Fort Bernie
1,Lunch,Elijah Schuster,44,2024-04-18T22:28:39.518Z,c73a1fdc-dcc0-4781-b3d2-2002722eda67,aAcFSNyaOO,93487 High Road,4.0,Burien
2,Dinner,Delia Wunsch,59,2024-09-12T08:43:37.669Z,91c81bcd-8c27-46a9-bf9e-b0af3f07611a,IQAPnwDeXp,6785 Estella Path,1.0,Kylebury
3,Snacks,Marta Rowe,57,2025-01-22T05:37:20.088Z,cd49dfbb-7e45-49b2-99b5-cb178f3c1714,Zi6xhJvRvs,720 The Limes,3.0,Novato
4,Drinks,Dave Johns,31,2024-05-31T09:14:26.716Z,e4f14af7-acab-472a-839e-510ddfa0e1e7,Zg9hkf5bCd,11393 Beier Fords,5.0,Heaneystad

In [28]:
ruta_nuevo_csv = "C:/Users/HP/Desktop/archivos a analisar de analisis/restaurantes_nuevo.csv"
df_final.to_csv(ruta_nuevo_csv, index=False, encoding="utf-8")

print("Archivo guardado.")

Archivo guardado.

In [29]:
# vamos a empezar a hacer una limpieza

In [30]:
import pandas as pd

# Cargar el dataset desde la ruta especificada
df = pd.read_csv('C:/Users/HP/Desktop/archivos a analisar de analisis/restaurantes_nuevo.csv')
df.head()

,category,reviewer_name,reviewer_age,review_date,review_id,review_text,restaurant_location,rating,restaurant_city
0,Breakfast,Orlando Sanford,65,2024-04-16T06:22:58.246Z,decbc6be-339c-4425-85aa-d00f5e6e6f3f,JGYylwLXKQ,221 Kilback Extension,5.0,Fort Bernie
1,Lunch,Elijah Schuster,44,2024-04-18T22:28:39.518Z,c73a1fdc-dcc0-4781-b3d2-2002722eda67,aAcFSNyaOO,93487 High Road,4.0,Burien
2,Dinner,Delia Wunsch,59,2024-09-12T08:43:37.669Z,91c81bcd-8c27-46a9-bf9e-b0af3f07611a,IQAPnwDeXp,6785 Estella Path,1.0,Kylebury
3,Snacks,Marta Rowe,57,2025-01-22T05:37:20.088Z,cd49dfbb-7e45-49b2-99b5-cb178f3c1714,Zi6xhJvRvs,720 The Limes,3.0,Novato
4,Drinks,Dave Johns,31,2024-05-31T09:14:26.716Z,e4f14af7-acab-472a-839e-510ddfa0e1e7,Zg9hkf5bCd,11393 Beier Fords,5.0,Heaneystad

In [31]:
#Verificamos que tipo de datos es:
df.dtypes

category                object
reviewer_name           object
reviewer_age             int64
review_date             object
review_id               object
review_text             object
restaurant_location     object
rating                 float64
restaurant_city         object
dtype: object

In [32]:
#Convertimos a tipo fecha la columna: review_date
df['review_date'] = pd.to_datetime(df['review_date'], errors='coerce')
df.isnull().sum()

category                   0
reviewer_name              0
reviewer_age               0
review_date            15000
review_id                  0
review_text                0
restaurant_location        0
rating                     0
restaurant_city            0
dtype: int64

In [33]:
#Rellenamos los valores nulos con una fecha por defecto
df['review_date'].fillna('2000-01-01', inplace=True)
df['review_date'] = pd.to_datetime(df['review_date'])

C:\Users\HP\AppData\Local\Temp\ipykernel_4992\2130055319.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['review_date'].fillna('2000-01-01', inplace=True)

In [34]:
#Eliminamos filas Duplicadas
df.drop_duplicates(inplace=True)

In [35]:
# para eliminar reseñas vacías
df = df[df['review_text'].notnull() & (df['review_text'] != '')]

In [ ]:
# Peliculas:
# Ahora vamos a crear datos locales y lo vamos a adjuntar con el dataset original
# haciendo exactamente lo mismo que en restaurantes:

In [6]:
import csv

# Abre el archivo CSV con la codificación UTF-8
with open(r"C:\Users\HP\Desktop\archivos a analisar de analisis\AllMovies.csv", mode='r', encoding='utf-8') as file:
    reader = csv.reader(file)
    rows = list(reader)  # Lee todas las filas y las guarda en una lista

# Conserva solo las primeras 250,000 filas
rows = rows[:250000]

# Guarda el nuevo archivo CSV con solo 250,000 datos
with open('C:/Users/HP/Desktop/archivos a analisar de analisis/moviesRed.csv', mode='w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [8]:
import pandas as pd

# Cargar el dataset original de películas
ruta_peliculas = "C:/Users/HP/Desktop/archivos a analisar de analisis/moviesRed.csv"
df_peliculas = pd.read_csv(ruta_peliculas)

In [12]:
df_peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249999 entries, 0 to 249998
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       249999 non-null  int64
 1   title                    249999 non-null  object
 2   vote_average             249999 non-null  float64
 3   vote_count               249999 non-null  float64
 4   status                   249999 non-null  object
 5   release_date             243886 non-null  object
 6   revenue                  249999 non-null  float64
 7   runtime                  249999 non-null  float64
 8   budget                   249999 non-null  float64
 9   imdb_id                  212220 non-null  object
 10  original_language        249999 non-null  object
 11  original_title           249999 non-null  object
 12  overview                 228285 non-null  object
 13  popularity               249999 non-null  float64
 14  tagline                  60242 non-null   object
 15  genres                   208091 non-null  object
 16  production_companies     152805 non-null  object
 17  production_countries     187603 non-null  object
 18  spoken_languages         190904 non-null  object
 19  cast                     202341 non-null  object
 20  director                 213761 non-null  object
 21  director_of_photography  93783 non-null   object
 22  writers                  157003 non-null  object
 23  producers                109583 non-null  object
 24  music_composer           56159 non-null   object
 25  imdb_rating              198064 non-null  float64
 26  imdb_votes               198064 non-null  float64
 27  poster_path              188343 non-null  object
dtypes: float64(8), int64(1), object(19)
memory usage: 53.4+ MB

In [14]:
df_peliculas = df_peliculas.dropna()

In [16]:
df_peliculas.isnull().sum()

id                         0
title                      0
vote_average               0
vote_count                 0
status                     0
release_date               0
revenue                    0
runtime                    0
budget                     0
imdb_id                    0
original_language          0
original_title             0
overview                   0
popularity                 0
tagline                    0
genres                     0
production_companies       0
production_countries       0
spoken_languages           0
cast                       0
director                   0
director_of_photography    0
writers                    0
producers                  0
music_composer             0
imdb_rating                0
imdb_votes                 0
poster_path                0
dtype: int64

In [18]:
# Y finalmente con las peliculas de terror vamos a realizar una limpieza
import pandas as pd

# Cargar el CSV actual
ruta_csv = "C:/Users/HP/Desktop/archivos a analisar de analisis/horror_movies.csv"
df = pd.read_csv(ruta_csv)

# cantidad de datos
print(f"Registros actuales: {len(df)}")
df.head()

Registros actuales: 32540

,Unnamed: 0,id,original_title,title,original_language,overview,tagline,release_date,poster_path,popularity,...,vote_average,budget,revenue,runtime,status,adult,backdrop_path,genre_names,collection,collection_name
0,1,760161,Orphan: First Kill,Orphan: First Kill,en,After escaping from an Estonian psychiatric fa...,There's always been something wrong with Esther.,2022-07-27,/pHkKbIRoCe7zIFvqan9LFSaQAde.jpg,5088.584,...,6.9,0.0,9572765.0,99,Released,False,/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg,"Horror, Thriller",760193.0,Orphan Collection
1,2,760741,Beast,Beast,en,A recently widowed man and his two teenage dau...,Fight for family.,2022-08-11,/xIGr7UHsKf0URWmyyd5qFMAq4d8.jpg,2172.338,...,7.1,0.0,56000000.0,93,Released,False,/2k9tBql5GYH328Krj66tDT9LtFZ.jpg,"Adventure, Drama, Horror",NaN,NaN
2,3,882598,Smile,Smile,en,"After witnessing a bizarre, traumatic incident...","Once you see it, it’s too late.",2022-09-23,/hiaeZKzwsk4y4atFhmncO5KRxeT.jpg,1863.628,...,6.8,17000000.0,45000000.0,115,Released,False,/mVNPfpydornVe4H4UCIk7WevWjf.jpg,"Horror, Mystery, Thriller",NaN,NaN
3,4,756999,The Black Phone,The Black Phone,en,"Finney Blake, a shy but clever 13-year-old boy...",Never talk to strangers.,2022-06-22,/lr11mCT85T1JanlgjMuhs9nMht4.jpg,1071.398,...,7.9,18800000.0,161000000.0,103,Released,False,/AfvIjhDu9p64jKcmohS4hsPG95Q.jpg,"Horror, Thriller",NaN,NaN
4,5,772450,Presencias,Presences,es,A man who loses his wife and goes to seclude h...,NaN,2022-09-07,/dgDT3uol3mdvwEg0jt1ble3l9hw.jpg,1020.995,...,7.0,0.0,0.0,0,Released,False,/ojfzhdwRemcDt1I6pao6vVLw9AA.jpg,Horror,NaN,NaN

In [21]:
df.dtypes

Unnamed: 0             int64
id                     int64
original_title        object
title                 object
original_language     object
overview              object
tagline               object
release_date          object
poster_path           object
popularity           float64
vote_count             int64
vote_average         float64
budget               float64
revenue              float64
runtime                int64
status                object
adult                   bool
backdrop_path         object
genre_names           object
collection           float64
collection_name       object
dtype: object

In [22]:
df["release_date"] = pd.to_datetime(df["release_date"], errors="coerce")  # release_date a datetime
df["budget"] = pd.to_numeric(df["budget"], errors="coerce")  # budget sea numérico
df["revenue"] = pd.to_numeric(df["revenue"], errors="coerce")  # revenue sea numérico

In [23]:
df = df.drop_duplicates(subset=["id"], keep="first")  # Eliminar duplicados en el id

In [24]:
df = df[(df["budget"] >= 0) & (df["revenue"] >= 0)] # que budget y revenue no sean negativos